<!DOCTYPE html>
<html lang='en'>
<style>
    p{
    margin: 10px;
    }

    form{
    margin: 10px;
    }

    .submit{
    border-radius :12px;
    padding: 7px;
    }

    .small_image{
    width: 120px;
    padding: 5px;
    }

    .input_filter{
    width: 150px;
    padding : 6px;
    margin : 4px;
    border-radius: 8px; <!-- rounded corners -->
    }

    #tiny_p{
    font-size: 15px;
    }

</style>

<head>
    <meta charset = 'UTF-8'>
    <meta name = 'viewport' content = 'width = device-width, initial-scale = 1.0'>
    <meta http-equiv='X-UA-Compatible' content = 'ie = edge'>
    <link rel = 'stylesheet' href = '{{url_for("static", filename = "css/main.css")}}'


    <title>
         <h2> Visa Statistics </h2>
    </title>
    <img src = 'static\1200px-U.S._Department_of_State_official_seal.png' class = "small_image">

<hr>
    {% block head %} {% endblock %}
</head>

<body>


    {% block body %} {% endblock %}

</body>
</html>